/* -- BASE ELEMENT STYLING -- */
html {
    background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6, p, label, select option, {
    font-family: "Myriad Pro", sans-serif;
    color: #444444;
}

body {
    margin: 0px;
    font-family: "Myriad Pro", sans-serif;
    color: #444444;
}

a {
    color: #d21b8e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.section {
    display: block;
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 15px;
}








/* -- FORM STYLING -- */
#visaPrices{
    margin: 0 auto;
    margin-bottom: 25px;
}
.body-container {
    padding: 0px 30px;
}
.form-group {
    display: block;
}
label {
    display: block;
    padding-top: 1rem;
    padding-bottom: 6px;
    font-size: 18px;
}
.wrapper {
    margin: 0 auto;
    width: 65%;
    background-color: #fff;
}
.wrapper_container {
    padding: 5% 10%;
}
.visa-form input[type="text"], select {
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 10px;
    width: 100%;
}
.visa-form input[type="text"]:focus, select:focus {
    border: 1px solid #00314f;
    outline: none;
}
.flex{
    display: flex;
}
.flex select {
    width: 25%;
    /*margin-left: 1rem;*/
}

.format {
    margin-left: 1rem;
}

.band {
    margin-right: 1rem;
}

.flex .checkbox {
    width: 35%;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.checkbox p {
    margin: 0px;
    margin-left: 8px;
}
.submit {
    
    color: #fff;
    background-color: #1376a9;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    
}
.submit:hover {
    background-color: #00314f;
}








/* -- CHECKBOX STYLING -- */
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox span {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.checkbox input:checked + span {
    background-image: url("/assets/images/tick.png");
    background-size: 15px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #288dff;
    border: 1px solid #288dff;
}








/* -- SEARCH BAR STYLING -- */
#searchBar {
    margin-bottom: 20px;
    margin-right: 20px;
    background-image: url("/assets/images/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    flex-grow: 5;
    padding: 12px 20px 12px 40px;
    border: 1px solid #DDD;
    font-size: 16px;
}
.search-container {
    display: flex;
}








/* -- TABLE STYLING --*/
table {
	border-collapse: collapse;
	border-spacing: 0;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}
td, th {
	padding: 15px;
	border-bottom: 1px solid #DDDDDD;
    font-family: "Myriad Pro", sans-serif;
    color: #404040;
    min-width: 16px;
}
tr:hover {
    background-color: #f1f1f1;
}
table {
    background-color: #ffffff;
}
.table-header {
    background-color: #f1f1f1;
}
.delete img, .edit img {
    filter: grayscale(100%);
    display:none;
}
tr:hover .delete img, tr:hover .edit img {
    display: block;
}
.delete img:hover, .edit img:hover {
    filter: grayscale(0%);
    
    -webkit-transition: filter 0.3s ease-out;
    -moz-transition: filter 0.3s ease-out;
    -o-transition: filter 0.3s ease-out;
    transition: filter 0.3s ease-out;
}






/* -- HEADER STYLING --*/
.top-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    
    margin-bottom: 20px;
}
.top-menu a {
    
    width: 100%;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #9b9b9b;
    
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    
}
.top-menu a:hover {
    color: #000; 
}
.active {
    color: #000;
    border-bottom: 3px solid #1376a9;
}








/* -- SUCCESS PAGE STYLING --*/
.success-body {
    background-image: url("http://127.0.0.1/assets/images/success-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    
}
.container {
    
    margin: 0px auto;
    text-align: center;
    
}
.success-heading{
    
    font-size: 80px;
    margin-bottom: 0px;
}
.success-message {
    margin-top: 0px;
}
.focus-btn { 
    color: #fff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    
}
.home-btn{
    background-color: #6EEB83;
}
.home-btn:hover {
    background-color: #47D85F;
}
.unfocus-btn {
    background: none;
    color: #9B9B9B;
    text-decoration: underline;
    
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    
}
.unfocus-btn:hover {
    color: #727272;
}
.btn, input[type="submit"] {
    border-radius: 2px;
    padding: 12px 30px;
    font: inherit;
	border: none;
	cursor: pointer;
}








/* -- DELETE PAGE STYLING --*/
.delete-btn { background-color: #CC3628; }
.delete-btn:hover { background-color: #FF4332; }









/* -- SUMMARY BOX STYLING --*/
.summary {
    color: #fff;
}

.summary_section{
    padding: 50px 100px;
    background-image: url("/assets/images/squiggle-background.jpg");
}

.summary_header {
    display: inline-block;
}

.summary_value {
    display: inline-block;
    float: right;
}

.summary_hr {
    width: 100%;
    border: 1px solid #fff;
    margin: 20px 0px;
}

.summary_section p{
    font-size: 18px;
    margin: 5px 0px;
}

.summary_btn {
    
    color: #fff;
    background-color: #E50D96;
    border-radius: 2px;
    padding: 12px 30px;
	cursor: pointer;
    margin-top: 25px;
    
    
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    
}

.summary_btn:hover {
    background-color: #B50975;
}

.summary_btn p {
    text-align: center;
    color: #fff;
    margin: 0px;
}

.summary_close_btn {
    font-weight: bold;
    font-size: 26px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}