/* -- BASE ELEMENT STYLING -- */

h1 {
    font-family: "Myriad Pro", sans-serif;
}

h2 {
    font-family: "Myriad Pro", sans-serif;
}

h3 {
    font-family: "Myriad Pro", sans-serif;
}

h4 {
    font-family: "Myriad Pro", sans-serif;
}

h5 {
    font-family: "Myriad Pro", sans-serif;
}

h6 {
    font-family: "Myriad Pro", sans-serif;
}

p {
    font-family: "Myriad Pro", sans-serif;
}

label {
    font-family: "Myriad Pro", sans-serif;
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}









/* -- CREATE FORM STYLING -- */


.element {
    display: block;
    margin: 5px 0px;
}

.section-a {
    background-color: #F2F2F2;
}
.section-b {
    background-color: #E5E5E5;
}
.section-c {
    background-color: #D8D8D8;
}

.section-d {
    background-color: #CCCCCC;
}

.section {
    margin: 20px 0px;
    padding: 20px;
}









/* -- TABLE STYLING --*/

table {
	border-collapse: collapse;
	border-spacing: 0;
    width: 100%;
}

td,
th {
	padding: 15px;
	border-bottom: 1px solid #000;
    font-family: "Myriad Pro", sans-serif;
    color: #404040;
}


html {
    background-color: #FAFAFA;
}

table {
    background-color: #ffffff;
}









/* -- HEADER STYLING --*/

.top-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    
    position:absolute;
    left:0;
    right:0;
    top: 0;
    
    margin-bottom: 50px;
}

.top-menu a {
    
    width: 100%;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #9b9b9b;
    
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
    
}

.top-menu a:hover {
    
    color: #000;
    
    
}

.active {
    color: #000;
    border-bottom: 3px solid #1376a9;
}